---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-title {
  visibility: hidden;
}

a:link, a:visited {
  text-decoration: none;
}

.social-icons .fas, .social-icons .fab, .social-icons .far, .social-icons .fal {
  color: #eaeaea;
}

html {
  font-size: 18px; // global font size
}

.archive__subtitle {
  padding-bottom: 0px;
  border-bottom: 0px;
}

img.bio-flag {
  margin-bottom: 5px;
  height: 21px;
  width: 32px;
}

.author__name {
  font-size: 1.25em;
}

.discord_widget {
  margin-top: 25px;
  width: auto;
}

@media screen and (max-width: 1025px) {
  .discord_widget {
    text-align: center;
    padding: 0 10px 0 10px;
    width: 100%;
  }
}

.author__name {
  display: inline-block;
}

.calendar-events {
  list-style: none;
}

.calendar-event-date {
  font-weight: bold;
}
